ngx-step-header {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-bottom: 20px;
}

ngx-step-body {
    padding: 24px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-bottom: 8px;
}
